<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Course</title>
</head>
<body>
	<h1>Add Course</h1>
	<form action="#" th:object="${course}" th:action="@{/admin/saveaddcourse}"
		method="post">
		<fieldset>
			<input type="hidden" th:field="*{courseID}">
		</fieldset>
		<fieldset>
			Course name: <input type="text" th:field="*{courseName}">
		</fieldset>
		<fieldset>
			Number of credits: <input type="text" th:field="*{credits}">
		</fieldset>
		<fieldset>
			Course capacity: <input type="text" th:field="*{courseCapacity}">
		</fieldset>
		<fieldset>
			Course description:
			<textarea th:field="*{description}"></textarea>
		</fieldset>
		<fieldset>
			Course Start Date: <input type="date" th:field="*{courseStartDate}">
		</fieldset>
		<fieldset>
			Course End Date: <input type="date" th:field="*{courseEndDate}">
		</fieldset>
		<fieldset>
			Exam Date: <input type="date" th:field="*{examDate}">
		</fieldset>
		<fieldset>
			Lecturers: <select th:field="*{users}" multiple="multiple">
				<option th:each="lecturer : ${lecturers}"
					th:value="${lecturer.userID}"
					th:text="${lecturer.firstName} + ' ' + ${lecturer.lastName}">
				</option>
			</select>
		</fieldset>
		<fieldset>
			<button type="submit">Save</button>
		</fieldset>
	</form>
</body>
</html>