
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of Courses</title>
</head>
<body>
	<h1>List of Courses</h1>
	<h2><a th:href="@{/admin/addcourse/}">Add Course</a></h2>
	<h4 th:if="${ErrorMessage != null}" th:text="${ErrorMessage}"
		style="color: red"></h4>

	<table class="w3-container" th:if="${not #lists.isEmpty(courses)}">
		<tr>
			<th>Course Id</th>
			<th>Course Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Capacity</th>
			<th>Status</th>
			<th>Credits</th>
			<th>Course Description</th>
			<th>Action</th>
		</tr>
		<tr>
		<tr th:each="course:${courses}">
			<td th:text=${course.courseID}></td>
			<td th:text=${course.courseName}></td>
			<td th:text=${course.courseStartDate}></td>
			<td th:text=${course.courseEndDate}></td>
			<td th:text=${course.courseCapacity}></td>
			<td th:text=${course.courseStatus}></td>
			<td th:text=${course.credits}></td>
			<td th:text=${course.description}></td>
			<td><a th:href="@{/admin/editcourse/}+${course.courseID}">Edit
					Course</a></td>
			<td><a th:href="@{/admin/deletecourse/}+${course.courseID}">Delete
					Course </a></td>
		</tr>
	</table>
</body>
</html>