<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration/update form</title>
<style>button{margin: 10px; padding:10px;}</style>
</head>
<body>
	<div align = "center">
		<h1>Successful</h1>
		<h2>Hello, <span th:text="${user.salutation}"> </span>. <span th:text="${user.firstName}"></span> 
		<span th:text="${user.lastName}"></span></h2>
		<h3>Please confirm if your details are correct</h3>
		<br><br>
	
		<span>First name: </span><span th:text="${user.firstName}"></span>
		<br><br>
		<span>Last name: </span><span th:text="${user.lastName}"></span>
		<br><br>
		<span>Role: </span><span th:text="${user.role}"></span>
		<br><br>
		<span>Date of Birth: </span><span th:text="${user.birthday}"></span>
		<br><br>
		<span>Phone number: </span><span th:text="${user.phoneNumber}"></span>
		<br><br>
		<span>Email: </span><span th:text="${user.email}"></span>
		<br><br>
		<span>Address: </span><span th:text="${user.address}"></span>
		<br>
		<br> 
		<span th:if="${password != null}"> Please change the default password within 7 days.</span>
		<br>
		<br> 
		<span th:if="${password != null}" th:text="|Password: ${password}|"></span>
	    <br>
		<br> <br>
		<br> <a href="/admin/list"><button>Exit</button></a>
	</div>


</body>
</html>