<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
	<meta charset="ISO-8859-1">
	<title>CAPS Project</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
      <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
		<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
		<link rel="stylesheet" th:href="@{/css/portalStyle.css}" />
</head>

<body>
	<nav th:fragment="navigationBar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:href = "@{/}">CAPS</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" th:href = "@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:href = "@{/admin/courselist}">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" th:href = "@{/admin/enrolment}">Enrolment</a>
	  </li>


	   <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_STUDENT')" th:href = "@{/student/gradesandgpa}">Grades And GPA</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_STUDENT')" th:href = "@{/student/mycourses}">My Courses</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_STUDENT')" th:href = "@{/student/availablecourselist}">Enroll for a Course</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_STUDENT')" th:href = "@{/student/enrolmentlist}">Enrolment List and Withdraw</a>
    </li>
    
	  
	  <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_LECTURER')" th:href = "@{/lecturer/coursestaught}">View Courses Taught</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_LECTURER')" th:href = "@{/lecturer/enrolment}">View Course Enrolment</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_LECTURER')" th:href = "@{/lecturer/gradecourse}">Grade a Course</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyAuthority('ROLE_LECTURER')" th:href = "@{/lecturer/viewstudentgrades}">View a Student's Performance</a>
      </li>

    </ul>
		<a href="/logout"><button type="button" class="btn">Logout</button></a>
  </div>
</nav>
		<script>
	  $(document).ready( function () {
    	$('#table_name').DataTable();
		} );
	</script>
</body>

</html>