<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymelead-extras-springsecurity5">
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>

	<H1>TEMP LANDING PAGE</H1>

	<div sec:authorize="isAnonymous()">
		<a href="/login"><button>Login</button></a>
	</div>

	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="principal.firstName">first
				name</span></b> &nbsp; <span sec:authentication="principal.role">Roles </span>
				</span></b> &nbsp; <span sec:authentication="principal.userID">ID </span>
		<br> <br>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>


</body>
</html>