<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head th:replace="Fragments/layout.html :: headerfiles"> </head>
<body>
<nav th:replace="Fragments/layout.html :: navigationBar"> </nav>
<h1>Grades And GPA</h1>

<div class = "container"> 
<table id = "table_gradesgpa">

	<thead>

		<tr>
			<th>NO</th>
			<th>EnrolmentID</th>
			<th>Date of Enrolment</th>
			<th>Course ID</th>
			<th>Course Name</th>
			<th>Credits</th>	
			<th>Grade</th>
			
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="enrolment,iterator: ${enrolmentsaccepted}">	
			<td th:text = "${iterator.index + 1}">NO</td>	
			<td th:text="${enrolment.id}">EnrolmentID</td>
			<td th:text="${#temporals.format(enrolment.dateOfEnrollment, 'yyyy-MM-dd')}">DateOfEnrolment</td>
			<td th:text="${enrolment.course.courseID}">Course ID</td>
			<td th:text="${enrolment.course.courseName}">Course Name</td>
			<td th:text="${enrolment.course.credits}">Credits</td>
			<td th:text="${enrolment.grades}">Grade</td>							
			
		</tr>	
	</tbody>
	
</table>&nbsp;&nbsp;
</div>


<div>
	<span><a th:text=" 'Credits Earned:' + ${totalCredits}">CGPA</a></span>
</div> &nbsp;&nbsp;


<div>
	<span><a th:text=" 'CGPA:' + ${cgpa}">CGPA</a></span>
</div>&nbsp;&nbsp;

	<div>
	<!-- temporarily view student of userID == 1 -->	
	<button><a th:href="@{/student/lecturercourses}">Enroll for a course</a></button>
	<button><a th:href="@{/student/enrolmentlist/1}">View Enrolment List and Withdraw</a></button>
	<button><a th:href="@{/student/mycourses/1}">View My Courses</a></button>
	</div>
	<script>
	  $(document).ready( function () {
    	$('#table_gradesgpa').DataTable();
		} );
	</script>
</body>
</html>
	