@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');


html{
	scroll-behavior: smooth;
}
body{
	margin: 1rem;
	padding: 0rem;
	font-size: 18px;
	font-family: 'Poppins';
	line-height: 20px;
}

a{
	font-weight: 500;
}

.navbar .navbar-brand a{
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}
.navbar-brand{
	font-size:2.2rem;
	font-family: monospace;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding:1.4rem 1rem;
	font-size: 1.2rem;
	position: relative;
	
}

.btn{
	background-color: #e74c3c;
	color: #fff;
	border-radius:10px;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	text-align: right;
}
.btn:hover {
	background-color: #0a3;
	color: #fff;
}

