<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/layout.html :: headerfiles"> </head>

<body>
	<nav th:replace="Fragments/layout.html :: navigationBar"> </nav>

	<div class = "container">
		<div class = "row">
			<h2 class = "text-center"> Courses Taught </h2>
		</div>

	<table id = "table_coursestaught" class="table table-striped">
		<thead>
			<tr>
				<th>S/N</th>
				<th>Course Id</th>
				<th>Course Name</th>
				<th>Maximum Intake</th>
				<th>Current Enrollment</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each = "coursetaught,iterator: ${coursestaught}">
				<td th:text = "${iterator.index + 1}"></td>
				<td th:text = "${coursetaught.courseID}"></td>
				<td th:text = "${coursetaught.courseName}"></td>
				<td th:text = "${coursetaught.courseCapacity}"></td>
				<td th:text = "${coursetaught.currentEnrolment}"></td>
			</tr>
		</tbody>
	</table>
	</div>
		<script>
	  $(document).ready( function () {
    	$('#table_coursestaught').DataTable();
		} );
	</script>
</body>

</html>