<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/layout.html :: headerfiles"> </head>

<body>
	<nav th:replace="Fragments/layout.html :: navigationBar"> </nav>

	<div class="container">
		<div class="row">
			<h1 class="text-center">Grading Form</h1>
		</div>
		<form action="#" th:action="@{/lecturer/gradecourse2}">
			<table>
				<tr>
					<td>Course <select class = "mb-4" name="courseID"
						onchange="this.form.submit()">
							<option th:if="${previousselectedcourse == null}" disabled
								selected>Select an Option</option>
							<option th:if="${previousselectedcourse == null}"
								th:each="coursetaught : ${coursestaught}"
								th:value="${coursetaught.courseID}"
								th:text="${coursetaught.courseName} + ' started on ' + ${coursetaught.courseStartDate}"></option>
							<option th:if="${previousselectedcourse != null}"
								th:each="coursetaught : ${coursestaught}"
								th:selected="(${coursetaught.courseID} == ${previousselectedcourse.courseID})"
								th:value="${coursetaught.courseID}"
								th:text="${coursetaught.courseName} + ' started on ' + ${coursetaught.courseStartDate}"></option>
					</select>
				</tr>
			</table>
		</form>
		<table id = "table_gradecourse" class="table table-striped table-bordered">

			<thead>
				<tr>
					<th>S/N</th>
					<th>Student ID</th>
					<th>Student Name</th>
					<th>Assigned Exam Grade</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student, iterator : ${studentsTookCourse}">
					<td th:text="${iterator.index+1}"></td>
					<td th:text="${student.userID}"></td>
					<td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
					<th:block th:each="studentdetail: ${studentdetails}">
						<td th:if="${student.userID} == ${studentdetail.student.userID}">
							<form action="#" th:action="@{/lecturer/savegrade}">
								<input type="hidden" name="studentID"
									th:value="${student.userID}"> <input type="hidden"
									name="courseID" th:value="${studentdetail.course.courseID}">
								<select name="grade" onchange="this.form.submit()">
									<option value="" th:selected="${studentdetail.grades} == null"></option>
									<option value="A+" th:selected="${studentdetail.grades} == 'A+'">A+</option>
									<option value="A" th:selected="${studentdetail.grades} == A">A</option>
									<option value="A-" th:selected="${studentdetail.grades} == 'A-'">A-</option>
									<option value="B+" th:selected="${studentdetail.grades} == 'B+'">B+</option>
									<option value="B" th:selected="${studentdetail.grades} == B">B</option>
									<option value="B-" th:selected="${studentdetail.grades} == 'B-'">B-</option>
									<option value="C+" th:selected="${studentdetail.grades} == 'C+'">C+</option>
									<option value="C" th:selected="${studentdetail.grades} == C">C</option>
									<option value="D+" th:selected="${studentdetail.grades} == 'D+'">D+</option>
									<option value="D" th:selected="${studentdetail.grades} == D">D</option>
									<option value="F" th:selected="${studentdetail.grades} == F">F</option>
								</select>
							</form>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
	  $(document).ready( function () {
    	$('#table_gradecourse').DataTable();
		} );
	</script>
</body>

</html>